/* CSS Reset */


:root {
    --black: #222222;
    --white: #FAF9F6;
    --color-1: rgb(191, 64, 64);
    /* Red */
    --color-2: rgb(191, 115, 64);
    /* Orange */
    --color-3: rgb(191, 166, 64);
    /* Yellow */
    --color-4: rgb(166, 191, 64);
    /* Yellow-Green */
    --color-5: rgb(115, 191, 64);
    /* Green */
    --color-6: rgb(64, 191, 64);
    /* Bright Green */
    --color-7: rgb(64, 191, 115);
    /* Green-Blue */
    --color-8: rgb(64, 191, 166);
    /* Cyan */
    --color-9: rgb(64, 166, 191);
    /* Sky Blue */
    --color-10: rgb(64, 115, 191);
    /* Blue */
    --color-11: rgb(64, 64, 191);
    /* Indigo */
    --color-12: rgb(115, 64, 191);
    /* Violet */
    --color-13: rgb(166, 64, 191);
    /* Purple */
    --color-14: rgb(191, 64, 166);
    /* Pink */
    --color-15: rgb(191, 64, 115);
    /* Magenta */
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);

}

body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}

body.dark-mode .exercise {
    border-color: var(--white);
}

body.dark-mode ::-moz-selection {
    color: var(--black);
    background: var(--white);
}

body.dark-mode ::selection {
    color: var(--black);
    background: var(--white);
}

body.dark-mode .number {
    border-color: var(--white);
    background-color: transparent;
}

body.dark-mode #toggleMode {
    color: var(--white);
}

body.dark-mode .highlight {
    color: #19368c;
}

body.dark-mode #search {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

body.dark-mode #kanjiSearch {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

/*https://pattern.monster/rope-1/*/
body.dark-mode .colouredNumber {
    color: var(--black);
    background-color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    /*too performance intense*/
    /* background-attachment: fixed;
    background-size: cover;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='https://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='79.75' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(176, 100%, 15%,1)'/><path d='M6.78 0 0 6.78v2.4L7.98 1.2l6.8 6.8C9.84 12.9 4.92 17.82 0 22.75v2.4l.6-.6 7.36-7.37a10.42 10.42 0 0 1-.58 14.15L.06 38.67 0 38.62v2.5l.06-.05 6.72 6.72L0 54.6V57l.6-.6 7.36-7.37a10.42 10.42 0 0 1-.58 14.16L0 70.56v2.4l6.78 6.78h2.4l-.6-.6-7.38-7.38 6.78-6.8 14.78 14.78h2.4L17.2 71.8a10.4 10.4 0 0 1 14.14.56l7.39 7.4h2.53l6.8-6.8 6.78 6.8h2.4l-.6-.6-7.36-7.37a10.4 10.4 0 0 1 14.14.58l7.4 7.38h2.4L80 72.96v-2.4l-7.98 7.98-6.8-6.78 6.8-6.8L80 56.99v-2.4l-7.96 7.96a10.42 10.42 0 0 1 .57-14.14l7.33-7.33.06.06v-2.51l-.06.05-6.73-6.73L80 25.15v-2.4c-2.64 2.67-5.3 5.32-7.96 7.97a10.42 10.42 0 0 1 .57-14.15L80 9.18v-2.4L73.2 0h-2.4c2.68 2.65 5.34 5.32 8 7.98l-6.78 6.79L57.24 0h-2.4l7.96 7.96a10.42 10.42 0 0 1-14.14-.58L41.26 0h-2.53l-6.79 6.78L25.15 0h-2.39l7.95 7.95a10.42 10.42 0 0 1-14.14-.56L9.18 0ZM40 1.14l6.78 6.79-14.74 14.74a10.42 10.42 0 0 1 .57-14.14ZM16 9.15a12.15 12.15 0 0 0 12.87 1.94 12.15 12.15 0 0 0 1.98 12.77L24 30.72a12.1 12.1 0 0 0-12.87-1.94A12.15 12.15 0 0 0 9.15 16Zm48 0L70.85 16a12.15 12.15 0 0 0-1.99 12.78A12.1 12.1 0 0 0 56 30.7l-6.85-6.85a12.15 12.15 0 0 0 1.98-12.77c4.3 1.9 9.32 1.15 12.87-1.94zm-16.05 0a10.42 10.42 0 0 1-.56 14.15L32.02 38.67l-6.8-6.78L47.95 9.15Zm.03 15.95 22.73 22.72a10.42 10.42 0 0 1-14.14-.56L41.2 31.9Zm-31.94 4.32c2.67 0 5.34 1.02 7.38 3.06L38.8 47.86l-6.78 6.79L9.28 31.9a10.4 10.4 0 0 1 6.76-2.5zm47.92 0c2.67 0 5.34 1.02 7.38 3.06l7.39 7.4-6.79 6.78L57.2 31.9a10.4 10.4 0 0 1 6.76-2.5zm-55.9 3.66c4.9 4.92 9.82 9.84 14.74 14.75a10.42 10.42 0 0 1-14.14-.57l-7.4-7.39Zm31.94 0 6.78 6.8L40 46.65l-6.8-6.79Zm7.98 8 6.8 6.78-6.8 6.79-.6.59c-5.1 5.12-10.22 10.24-15.34 15.35a10.42 10.42 0 0 1 .57-14.15l15.37-15.37ZM24 49.01l6.85 6.85a12.15 12.15 0 0 0-1.99 12.79A12.1 12.1 0 0 0 16 70.59l-6.85-6.85a12.15 12.15 0 0 0 1.98-12.78c4.3 1.9 9.32 1.15 12.87-1.94zm32 0a12.15 12.15 0 0 0 12.86 1.94 12.15 12.15 0 0 0 1.99 12.78L64 70.6a12.1 12.1 0 0 0-12.87-1.94 12.15 12.15 0 0 0-1.98-12.78zm-8.05 8.05a10.42 10.42 0 0 1-.56 14.15L40 78.6l-6.8-6.8c4.93-4.9 9.84-9.82 14.75-14.74z'  stroke-width='7' stroke='none' fill='hsla(237, 92%, 28%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>") */
}

body.dark-mode #filteredNumber {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
}

body.dark-mode .notes {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
}


body.dark-mode #showUnit {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--white);
}

body.dark-mode .kunyomi {
    color: #41b6e6;
}

body.dark-mode .onyomi {
    color: #be84a3;
}

body.dark-mode .break {
    border: 1px solid var(--white);
}

body.dark-mode .break::after {
    color: var(--white);
    background-color: var(--black);
}

body.dark-mode #readingSearch {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

body.dark-mode #furiganaSearch {
    color: var(--white);
    background: var(--black);
    border-color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

body.dark-mode #toggleAllTranslations {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--white);
}

body.dark-mode #toggleAllFurigana {
    background-color: var(--white);
    border-color: var(--black);
    box-shadow: 0 0 2px var(--white);
}

body.dark-mode .kanjiGroup {
    background-color: var(--black);
    border-color: var(--white);
    box-shadow: 0 0 2px var(--white);
}






#container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5em;
    row-gap: 0.5em;
}

.number {
    width: 96%;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    user-select: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.1em;
    background-color: var(--white);
}


.exercise {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 92%;
    transform: translateX(4svw);
    gap: 1em;
    margin-top: -0.6em;
    border-top: transparent;
    padding-top: 1em;
    padding-bottom: 0.5em;
}


.sentence {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.translation {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: black;
}

::selection {
    color: var(--white);
    background: black;
}

#toggleMode {
    display: inline-block;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    user-select: none;
    color: var(--black);
    margin: 0.5em;
    margin-top: 0.2em;
    -webkit-tap-highlight-color: transparent;
}

#search {
    display: block;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    user-select: none;
    border: 2px solid black;
    color: black;
    background-color: var(--white);
    padding: 0.2em;
    margin: 0.1em;
    transform: translateX(35vw);
    width: 30vw;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.notes {
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 0.1em;
    background-color: var(--white);
    cursor: pointer;
}


.grammarPointsNote {
    font-weight: 600;
    color: deeppink;
}

#filteredNumber {
    position: absolute;
    top: 3em;
    left: 0;
    display: inline-block;
    border: 2px solid black;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    padding: 0.2em;
    margin: 0.5em;
    width: 5em;
    text-align: center;
    font-weight: bold;
}


/* Furigana hidden by default */
ruby rt {
    visibility: hidden;
}

.close-note {
    display: inline-block;
    color: deeppink;
    font-weight: bold;
    border: 2px solid deeppink;
    margin-top: 0.5em;
    padding: 0.1em;
    border-radius: 15px;
}

.colouredNumber {
    background-color: var(--black);
    color: var(--white);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

#filteredNumber {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    margin-left: 5em;
    margin-top: 0.5em;
    display: block;
    border: 2px solid black;
    padding: 0.3em;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    text-align: center;
}


/* First kanji-sentence pair */
.sentence ruby:nth-of-type(1),
.kanji ruby:nth-of-type(1) {
    color: var(--color-1);
    /* Red */
}

/* Second kanji-sentence pair */
.sentence ruby:nth-of-type(2),
.kanji ruby:nth-of-type(2) {
    color: var(--color-11);
    /* Indigo */
}

/* Third kanji-sentence pair */
.sentence ruby:nth-of-type(3),
.kanji ruby:nth-of-type(3) {
    color: var(--color-4);
    /* Yellow-Green */
}

/* Fourth kanji-sentence pair */
.sentence ruby:nth-of-type(4),
.kanji ruby:nth-of-type(4) {
    color: var(--color-12);
    /* Violet */
}

/* Fifth kanji-sentence pair */
.sentence ruby:nth-of-type(5),
.kanji ruby:nth-of-type(5) {
    color: var(--color-5);
    /* Green */
}

/* Sixth kanji-sentence pair */
.sentence ruby:nth-of-type(6),
.kanji ruby:nth-of-type(6) {
    color: var(--color-14);
    /* Pink */
}

/* Seventh kanji-sentence pair */
.sentence ruby:nth-of-type(7),
.kanji ruby:nth-of-type(7) {
    color: var(--color-3);
    /* Yellow */
}

/* Eighth kanji-sentence pair */
.sentence ruby:nth-of-type(8),
.kanji ruby:nth-of-type(8) {
    color: var(--color-10);
    /* Blue */
}

/* Ninth kanji-sentence pair */
.sentence ruby:nth-of-type(9),
.kanji ruby:nth-of-type(9) {
    color: var(--color-7);
    /* Green-Blue */
}

/* Tenth kanji-sentence pair */
.sentence ruby:nth-of-type(10),
.kanji ruby:nth-of-type(10) {
    color: var(--color-13);
    /* Purple */
}

/* Eleventh kanji-sentence pair */
.sentence ruby:nth-of-type(11),
.kanji ruby:nth-of-type(11) {
    color: var(--color-6);
    /* Bright Green */
}

/* Twelfth kanji-sentence pair */
.sentence ruby:nth-of-type(12),
.kanji ruby:nth-of-type(12) {
    color: var(--color-9);
    /* Sky Blue */
}

/* Thirteenth kanji-sentence pair */
.sentence ruby:nth-of-type(13),
.kanji ruby:nth-of-type(13) {
    color: var(--color-15);
    /* Magenta */
}

/* Fourteenth kanji-sentence pair */
.sentence ruby:nth-of-type(14),
.kanji ruby:nth-of-type(14) {
    color: var(--color-2);
    /* Orange */
}

/* Fifteenth kanji-sentence pair */
.sentence ruby:nth-of-type(15),
.kanji ruby:nth-of-type(15) {
    color: var(--color-8);
    /* Cyan */
}


.highlight {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 5px;
}


#kanjiFoundContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    padding: 1em;
    padding-bottom: 2em;
}

.kanji {
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
}

.highlight-kanji {
    background-color: deeppink;
    font-weight: bold;
}

input[type="checkbox"] {
    vertical-align: middle;
    appearance: none;
    background-color: deeppink;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    place-content: center;
    display: grid;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    background-color: #000000;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkboxContainer {
    position: relative;
    display: inline-block;
    width: auto;
    border: 2px solid #ff1493;
    padding: 0.5em;
    margin: 0.5em;
}

.checkboxContainer label {
    margin-left: 0.2em;
    user-select: none;
}


.checkboxContainer>div {
    display: flex;
    align-items: center;
    padding: 0.1em;
}

.pagination {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3px;
    padding: 1em;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-color: #04AA6D #ff1493;
    scrollbar-width: thin;
    justify-content: center;
    vertical-align: middle;
}



.pagination button {
    height: 2.8em;
    aspect-ratio: 1/1;
    display: inline-block;
    background-color: #04AA6D;
    border: 2px solid #000000;
    color: white;
    font-family: courier;
    font-size: 0.6em;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 10px;
    transition: color 100ms;
    user-select: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.pagination button:hover,
.pagination button:focus,
.pagination button:active {
    background-color: #ff1493;
    color: #222222;
    font-weight: bold;
}

.pagination button.active {
    background-color: #ff1493;
    color: #222222;
    font-weight: bold;
}




.arrow-down {
    width: 24px;
    height: 16px;
    position: relative;
    left: 50%;
    bottom: -1em;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
    -webkit-animation-play-state: paused;
}

.left {
    position: absolute;
    height: 4px;
    width: 16px;
    background: #04AA6D;
    ;
    -webkit-transform: rotate(240deg);
    left: 10px;
    bottom: -1em;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 2px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 4px;
    width: 16px;
    background: #04AA6D;
    ;
    -webkit-transform: rotate(-60deg);
    left: 10px;
    bottom: -1em;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 2px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 16px;
    }
}


@-webkit-keyframes leftArrow {
    0% {}

    100% {
        -webkit-transform: rotate(225deg);
    }
}

@-webkit-keyframes rightArrow {
    0% {}

    100% {
        -webkit-transform: rotate(-45deg);
    }
}

a {
    color: deeppink;
}